name: release
on:
  release:
    types: [created]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        cache: poetry
        python-version: '3.10'
    - run: poetry install
    - uses: tschm/token-mint-action@v1.0.3
      id: mint          
    - run: poetry publish --build -u __token__ -p $PYPI_TOKEN
      env:
        PYPI_TOKEN: ${{ steps.mint.outputs.api-token }}
    - run: poetry run poe document
    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ github.token }}
        publish_dir: ./documentation/module/_build/html
        publish_branch: documentation
        force_orphan: true
